aside {
  display: flex;
  width: 85.375em;
  height: 480px;
  background-color: var(--gray-100);
  margin: auto;
}

#services {
  position: absolute;
  display: flex;
  margin: 205px 239px 120px;
  gap: 24px;
}

.section-heading{
   margin: 88px auto;
   padding-bottom: 8px;
   
}

.cardServices { 
  border: 4px solid var(--gray-200); 
  border-radius: 12px; 
  background-color: var(--gray-100); 
   width: 280px; 
  height: 155px; 
  
  
  & img {
    width: 48px;
    height: 48px;
    margin: 12px 12px;
  }
  figcaption {
    h1 {
      margin: 10px 20px 8px;
      font: var(--title-sm);
      gap: 8px;
    }
     
    p {
      text-align: justify;
      margin: 0px 20px 25px;
      font: var(--text-sm);
     }
  }

  h4 {
    color: var(--red);
    font: var(--subtitle);
   }
   h2 {
    color: var(--gray-600);
    font: var(--title-md);
   }

}